// Bold
@font-face {
    font-family: "Avenir";
    src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("woff"), url("../assets/Font/AvenirNextLTPro-Bold.otf") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
    font-style: bold;
}

// Demi
@font-face {
    font-family: "Avenir";
    src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("woff"), url("../assets/Font/AvenirNextLTPro-Demi.otf") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
    font-style: demi;
}

// regular
@font-face {
    font-family: "Avenir";
    src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("woff"), url("../assets/Font/AvenirNextLTPro-Regular.otf") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
    font-style: regular;
}