@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("woff"), url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-style: demi;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("woff"), url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-style: regular;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

.header {
  background-color: #323232;
  font-size: 1.3rem;
  line-height: 2rem;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
}
.header__navbar {
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.header__link {
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 100;
}

@media (min-width: 768px) {
  .header {
    line-height: 3.5rem;
    flex-direction: row;
  }
  .header__navbar {
    flex-direction: row;
  }
  .header__link {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .header {
    line-height: 4.25rem;
    flex-direction: row;
  }
}
.header__logo {
  width: 8rem;
  margin-left: 7rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .header__logo {
    width: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    margin-left: 10rem;
    width: 13rem;
  }
}

.underline {
  border-bottom: 0.2rem #FFFFFF solid;
  margin-bottom: -0.5rem;
  font-weight: bold;
}

.blur {
  color: #E1E1E1;
}

.hero__heading {
  position: absolute;
  top: 11rem;
  left: 1.5rem;
  color: #FFFFFF;
  font-family: "Avenir";
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .hero__heading {
    top: 22rem;
    left: 2.5rem;
    font-size: 4rem;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    left: 10rem;
    top: 24rem;
    font-size: 4.5rem;
  }
}

.hero_image {
  background-image: linear-gradient(rgba(50, 50, 50, 0.3137254902), rgba(50, 50, 50, 0.3137254902)), url(../assets/Images/hero-bio.jpg);
  display: flex;
  align-items: center;
  width: 100%;
  height: 25vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .hero_image {
    height: 50vh;
  }
}

.about {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 1.5rem;
}
@media (min-width: 768px) {
  .about {
    font-size: 2rem;
    margin-left: 5rem;
  }
}
@media (min-width: 1280px) {
  .about {
    font-size: 3rem;
  }
}

.bandimage {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media (min-width: 768px) {
  .bandimage {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}
@media (min-width: 1280px) {
  .bandimage {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.about__subheading {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: justify;
  font-weight: 700;
  font-size: small;
}
@media (min-width: 768px) {
  .about__subheading {
    margin-left: 8rem;
    margin-right: 15rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .about__subheading {
    margin-left: 10rem;
    margin-right: 24rem;
    font-size: 1.5rem;
  }
}

.about__subheading2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: justify;
  font-weight: 700;
  font-size: small;
}
@media (min-width: 768px) {
  .about__subheading2 {
    margin-left: 8rem;
    margin-right: 15rem;
    font-size: 0.8rem;
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  .about__subheading2 {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 1.2rem;
  }
}

.about__title {
  font-weight: 400;
  font-style: demi;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;
}
@media (min-width: 768px) {
  .about__title {
    margin-left: 8rem;
    margin-right: 15rem;
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  .about__title {
    margin-left: 10rem;
    margin-right: 10rem;
    font-weight: 700;
  }
}

.about__description {
  font-weight: 400;
  font-style: demi;
  font-size: 0.8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: -1rem;
  text-align: left;
}
@media (min-width: 768px) {
  .about__description {
    display: flex;
    margin-left: 8rem;
    margin-right: 8rem;
    justify-content: space-around;
  }
}
@media (min-width: 1280px) {
  .about__description {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 1.02rem;
  }
}

.gallery {
  background-color: rgba(225, 225, 225, 0.1254901961);
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .gallery {
    font-size: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 600;
  }
}
.gallery__image {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__image {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 768px) {
  .gallery__image__list {
    width: 30%;
  }
}

.gallery__heading {
  margin-left: 2.5rem;
}

.post-heading {
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 2rem;
}
@media (min-width: 768px) {
  .post-heading {
    font-size: 3rem;
  }
}

.pic {
  border-radius: 50%;
  margin-left: 2rem;
  margin-top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}
@media (min-width: 768px) {
  .pic {
    margin-left: 5rem;
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .pic {
    margin-left: 20rem;
  }
}

.comment-boxes {
  margin-left: 6rem;
  margin-bottom: 1rem;
  margin-top: -5rem;
}
@media (min-width: 1280px) {
  .comment-boxes {
    margin-left: 22rem;
  }
}

.post-title {
  color: #AFAFAF;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .post-title {
    margin-left: 5rem;
    font-size: 1.3rem;
    margin-top: 0rem;
  }
}

.input-box--name {
  background-color: rgba(225, 225, 225, 0.3137254902);
  border-radius: 10px 10px 10px 10px;
  width: 13rem;
  height: 2.5rem;
  border: rgba(175, 175, 175, 0.3137254902) solid;
  padding-left: 1rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .input-box--name {
    margin-left: 4rem;
    margin-bottom: 1rem;
    width: 32rem;
    height: 4rem;
  }
}

.input-box--comment {
  background-color: rgba(225, 225, 225, 0.3137254902);
  border-radius: 10px 10px 10px 10px;
  width: 13rem;
  height: 8rem;
  border: rgba(175, 175, 175, 0.3137254902) solid;
  padding-left: 1rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .input-box--comment {
    margin-left: 4rem;
    margin-bottom: 1rem;
    width: 32rem;
    height: 10rem;
  }
}

.comment-button {
  background-color: #323232;
  border-radius: 10px 10px 10px 10px;
  width: 13rem;
  height: 3rem;
  border: #323232 solid;
  padding-left: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  margin-left: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .comment-button {
    margin-left: 24rem;
    margin-bottom: 1rem;
    width: 12rem;
    height: 3rem;
    border-bottom: rgba(175, 175, 175, 0.3137254902) solid 1px;
    padding-bottom: 2rem;
  }
}

.comment-section {
  margin-left: 1rem;
}

.comment-title {
  font-size: 1rem;
}
@media (min-width: 1280px) {
  .comment-title {
    font-size: 1.5rem;
  }
}

.comment-post {
  margin-left: 1rem;
  font-size: 1rem;
}
@media (min-width: 1280px) {
  .comment-post {
    margin-left: 25rem;
    margin-right: 21rem;
    font-size: 2rem;
  }
}

.comment-date {
  margin-left: 8.5rem;
  margin-top: -2rem;
  margin-bottom: 0rem;
  color: #AFAFAF;
  font-size: 1rem;
}
@media (min-width: 1280px) {
  .comment-date {
    margin-left: 25rem;
    font-size: 1.5rem;
    margin-top: -3rem;
  }
}

.comment-paragraph {
  text-align: left;
  font-size: 0.8rem;
  border-bottom: rgba(175, 175, 175, 0.3137254902) solid 1px;
  padding-bottom: 2rem;
}
@media (min-width: 1280px) {
  .comment-paragraph {
    font-size: 1rem;
  }
}

footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 2rem;
}

@media (min-width: 768px) {
  .footer__section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .footer__section1--getintouch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__section1--getintouch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
  }
}

.icon {
  padding-top: 1rem;
  padding-right: 2rem;
  display: inline;
}
@media (min-width: 768px) {
  .icon {
    display: flex;
    justify-content: space-around;
    padding-left: 1.5rem;
    align-items: flex-start;
    padding-top: 0;
  }
}

.getintouch {
  font-size: 2rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .getintouch {
    font-size: 2.5rem;
  }
}

.header__logo2 {
  display: none;
}
@media (min-width: 768px) {
  .header__logo2 {
    display: flex;
  }
}

.header__logo3 {
  display: flex;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  .header__logo3 {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer__section2 {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

@media (min-width: 768px) {
  .footer__card {
    margin-right: 2rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .footer__card {
    margin-right: 4rem;
  }
}

.name {
  padding-top: 1.5rem;
  margin: 0;
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .name {
    padding-top: 1rem;
    margin: 0;
    font-size: 1.1rem;
  }
}

.subname {
  padding-bottom: 1rem;
  margin: 0;
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .subname {
    padding-bottom: 1rem;
    margin: 0;
    font-size: 1.1rem;
  }
}

.details {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .details {
    padding: 0;
    margin: 0;
  }
}

.email {
  padding-top: 1rem;
  margin: 0;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .email {
    padding-top: 1rem;
    margin: 0;
  }
}

.copyright {
  padding-top: 1rem;
  margin: 0;
  font-size: 0.6rem;
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
    margin: 0;
    padding-top: 2rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=bio.css.map */