@use './partials/mixins' as *;
@use './partials/font' as *;
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Avenir";
}

.header {
    background-color: #323232;
    font-size: 1.3rem;
    line-height: 2rem;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    &__navbar {
        display: flex;
        margin-bottom: 0.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    &__link {
        text-decoration: none;
        color: #FFFFFF;
        padding-right: 1rem;
        padding-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 100;
    }
}

@include tablet {
    .header {
        line-height: 3.5rem;
        flex-direction: row;
        &__navbar {
            flex-direction: row;
        }
        &__link {
            padding-bottom: 0.5rem;
        }
    }
}

@include desktop {
    .header {
        line-height: 4.25rem;
        flex-direction: row;
    }
}

.header__logo {
    width: 8rem;
    margin-left: 7rem;
    margin-top: 1rem;
    @include tablet {
        width: 10rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    @include desktop {
        margin-left: 10rem;
        width: 13rem;
    }
}

.underline {
    border-bottom: 0.2rem #FFFFFF solid;
    margin-bottom: -0.5rem;
    font-weight: bold;
}

.blur {
    color: #E1E1E1;
}

// Hero heading  
.hero__heading {
    position: absolute;
    top: 11rem;
    left: 1.5rem;
    color: #FFFFFF;
    font-family: "Avenir";
    font-size: 1.5rem;
    @include tablet {
        top: 22rem;
        left: 2.5rem;
        font-size: 4rem;
    }
    @include desktop {
        left: 10rem;
        top: 24rem;
        font-size: 4.5rem;
    }
}

.hero_image {
    background-image: linear-gradient(#32323250, #32323250), url(../assets/Images/hero-bio.jpg);
    display: flex;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-size: cover;
    display: flex;
    align-items: center;
    @include tablet {
        height: 50vh;
    }
    // @include desktop {
    //     height: 50vh;
    // }
}

// about the musicians
.about {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 1.5rem;
    @include tablet {
        font-size: 2rem;
        margin-left: 5rem;
    }
    @include desktop {
        font-size: 3rem;
    }
}

.bandimage {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    @include tablet {
        margin-left: 8rem;
        margin-right: 8rem;
    }
    @include desktop {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

.about__subheading {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: justify;
    font-weight: 700;
    font-size: small;
    @include tablet {
        margin-left: 8rem;
        margin-right: 15rem;
        font-size: 0.9rem;
    }
    @include desktop {
        margin-left: 10rem;
        margin-right: 24rem;
        font-size: 1.5rem;
    }
}

.about__subheading2 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: justify;
    font-weight: 700;
    font-size: small;
    @include tablet {
        margin-left: 8rem;
        margin-right: 15rem;
        font-size: 0.8rem;
        font-weight: 500;
    }
    @include desktop {
        margin-left: 10rem;
        margin-right: 10rem;
        font-size: 1.2rem;
    }
}

.about__title {
    font-weight: 400;
    font-style: demi;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: left;
    @include tablet {
        margin-left: 8rem;
        margin-right: 15rem;
        font-weight: 500;
    }
    @include desktop {
        margin-left: 10rem;
        margin-right: 10rem;
        font-weight: 700;
    }
}

.about__description {
    font-weight: 400;
    font-style: demi;
    font-size: 0.8rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: -1rem;
    text-align: left;
    @include tablet {
        display: flex;
        margin-left: 8rem;
        margin-right: 8rem;
        justify-content: space-around;
    }
    @include desktop {
        // display: flex;
        margin-left: 10rem;
        margin-right: 10rem;
        font-size: 1.02rem;
    }
}

// Photo Gallery
.gallery {
    background-color: #E1E1E120;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    @include tablet {
        font-size: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        // padding-top: 2.5rem;
        font-weight: 600;
    }
    &__image {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        width: 100%;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 1.5rem;
        }
        &__list {
            @include tablet {
                width: 30%;
            }
        }
    }
}

.gallery__heading {
    margin-left: 2.5rem;
}

// Comment section 
.post-heading {
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 2rem;
    @include tablet {
        font-size: 3rem;
    }
}

.pic {
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    @include tablet {
        margin-left: 5rem;
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 1rem;
    }
    @include desktop {
        margin-left: 20rem;
    }
}

.comment-boxes {
    margin-left: 6rem;
    margin-bottom: 1rem;
    margin-top: -5rem;
    @include desktop {
        margin-left: 22rem;
    }
}

.post-title {
    color: #AFAFAF;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    @include tablet {
        margin-left: 5rem;
        font-size: 1.3rem;
        margin-top: 0rem;
    }
}

.input-box--name {
    background-color: #E1E1E150;
    border-radius: 10px 10px 10px 10px;
    width: 13rem;
    height: 2.5rem;
    border: #AFAFAF50 solid;
    padding-left: 1rem;
    font-size: 1rem;
    @include tablet {
        margin-left: 4rem;
        margin-bottom: 1rem;
        width: 32rem;
        height: 4rem;
    }
}

.input-box--comment {
    background-color: #E1E1E150;
    border-radius: 10px 10px 10px 10px;
    width: 13rem;
    height: 8rem;
    border: #AFAFAF50 solid;
    padding-left: 1rem;
    font-size: 1rem;
    @include tablet {
        margin-left: 4rem;
        margin-bottom: 1rem;
        width: 32rem;
        height: 10rem;
    }
}

.comment-button {
    background-color: #323232;
    border-radius: 10px 10px 10px 10px;
    width: 13rem;
    height: 3rem;
    border: #323232 solid;
    padding-left: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    margin-left: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    @include tablet {
        margin-left: 24rem;
        margin-bottom: 1rem;
        width: 12rem;
        height: 3rem;
        border-bottom: #AFAFAF50 solid 1px;
        padding-bottom: 2rem;
    }
}

.comment-section {
    margin-left: 1rem;
}

.comment-title {
    font-size: 1rem;
    @include desktop {
        font-size: 1.5rem;
    }
}

.comment-post {
    margin-left: 1rem;
    font-size: 1rem;
    @include desktop {
        margin-left: 25rem;
        margin-right: 21rem;
        font-size: 2rem;
    }
}

.comment-date {
    margin-left: 8.5rem;
    margin-top: -2rem;
    margin-bottom: 0rem;
    color: #AFAFAF;
    font-size: 1rem;
    @include desktop {
        margin-left: 25rem;
        font-size: 1.5rem;
        margin-top: -3rem;
    }
}

.comment-paragraph {
    text-align: left;
    font-size: 0.8rem;
    border-bottom: #AFAFAF50 solid 1px;
    padding-bottom: 2rem;
    @include desktop {
        font-size: 1rem;
    }
}

// footer
footer {
    background-color: #323232;
    color: #FFFFFF;
    padding: 2rem;
}

.footer__section1 {
    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer__section1--getintouch {
    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
    }
    @include desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2.5rem;
    }
}

.icon {
    padding-top: 1rem;
    padding-right: 2rem;
    display: inline;
    @include tablet {
        display: flex;
        justify-content: space-around;
        padding-left: 1.5rem;
        align-items: flex-start;
        padding-top: 0;
    }
}

.getintouch {
    font-size: 2rem;
    padding-bottom: 1rem;
    @include tablet {
        font-size: 2.5rem;
    }
}

.header__logo2 {
    display: none;
    @include tablet {
        display: flex;
    }
}

.header__logo3 {
    display: flex;
    margin-top: 4rem;
    @include tablet {
        display: none;
    }
}

.footer__section2 {
    @include tablet {
        display: flex;
        align-items: center;
        justify-content: start;
    }
}

.footer__card {
    @include tablet {
        margin-right: 2rem;
        font-size: 0.9rem;
    }
    @include desktop {
        margin-right: 4rem;
    }
}

.name {
    padding-top: 1.5rem;
    margin: 0;
    font-size: 1.1rem;
    @include tablet {
        padding-top: 1rem;
        margin: 0;
        font-size: 1.1rem;
    }
}

.subname {
    padding-bottom: 1rem;
    margin: 0;
    font-size: 1.1rem;
    @include tablet {
        padding-bottom: 1rem;
        margin: 0;
        font-size: 1.1rem;
    }
}

.details {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    @include tablet {
        padding: 0;
        margin: 0;
    }
}

.email {
    padding-top: 1rem;
    margin: 0;
    font-size: 0.9rem;
    @include tablet {
        padding-top: 1rem;
        margin: 0;
    }
}

.copyright {
    padding-top: 1rem;
    margin: 0;
    font-size: 0.6rem;
    @include tablet {
        padding: 0;
        margin: 0;
        padding-top: 2rem;
        font-size: 1rem;
    }
}